*.DS_Store
build/
.gradle/
*/build/
*.iml
.idea/.name
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries
*.apk
*.ap_
*.dex
*.class
antLauncher/bin
antLauncher/gen
local.properties
*.log